<div class="target-info">
  <div class="target-availability">
    <span class="target-quantity">{{quantity}}</span> <span class="target-type">{{mode}}</span> available
  </div>
  <div class="target-address">{{name}}</div>
  <div class="target-distance">
    <span class="target-range">{{distance}}</span> <span class="target-unit">{{units}}</span> away
  </div>
</div>
