<div class="target-info">
  <div class="station-name">{{name}}</div>
  <div class="station-stats">
    <div class="quantity-stat stat">
      <strong>{{quantity}}</strong> <small>{{mode}}</small>
    </div>
    <div class="distance-stat stat">
      <strong>{{distance}}</strong> <small>{{units}}</small>
    </div>
  </div>
</div>
